<div class="login">

  <section class="card__login">
    <img src="https://64.media.tumblr.com/6a24b07e74e087e5756402eecd6b6537/601516830f6f0534-f5/s640x960/0149d5a36f040fab262986b0a7429476083eb1ed.jpg" alt="logo" class="logo">


    <form action="" class="form">

      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <section class="loggin_auth">
        <button  mat-stroked-button color="secondary">
          <i class="fa-brands fa-google"></i>  Ingresa con Google
        </button>
        <button mat-stroked-button color="secondary">
          <i class="fa-brands fa-facebook"></i>  Ingresa con Facebook
        </button>
      </section>

      <!-- <button mat-raised-button type="submit">Entrar</button> -->
      <button mat-flat-button color="primary" type="submit">Entrar</button>
    </form>
  </section>

</div>
