<div class="home">

  <section class="fisr-view">
    <div class="circle"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
    <div class="circle5"></div>

    <article class="info-contact__container">
      <img src="https://64.media.tumblr.com/6a24b07e74e087e5756402eecd6b6537/601516830f6f0534-f5/s640x960/0149d5a36f040fab262986b0a7429476083eb1ed.jpg" class="logo" alt="">
      <h4>
        Renueva tu estilo, reciclando con propósito.
      </h4>
      <ul class="info-contact">
        <li>
          <a href="https://chat.whatsapp.com/H9BLXctNIjOCz1zzP847RW" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-whatsapp"></i> </a>
        </li>
        <li>
          <a href="https://www.facebook.com/people/Lolas-boutique/61558155445957/?mibextid=qi2Omg&rdid=OgS1vHNT0rKwp0DS&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F4PXDognYSytATGh2%2F%3Fmibextid%3Dqi2Omg" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook"></i> </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lolasboutique_pop/?igsh=MTZneDN5ZGpnd2lxMw%3D%3D" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i> </a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-tiktok"></i> </a>
        </li>
      </ul>
    </article>
  </section>


  <section class="list-products" *ngIf="clothesListFirstThree.length > 0;">
    <h4>Conoce nuestros productos 😍</h4>
    <div class="products_container">
      <app-product-card
        *ngFor="let clothe of clothesListFirstThree"
        [clothe]="clothe">
      </app-product-card>
    </div>
    <button
      mat-raised-button
      routerLink="/products" > Ver mas -></button>
    <div class="gradient"></div>
  </section>

  <div *ngIf="clothesListFirstThree.length < 1" >
    <p>Cargando...</p>
  </div>

  <section class="about-us">
    <article
      class="info-card"
      *ngFor="let element of auboutUsList; let i = index"
      [ngClass]="{'odd-card': i % 2 == 0}">
      <h5>{{element.title}}</h5>
      <p [innerHTML]="element.description"></p>
    </article>
  </section>

</div>
