<div class="home">

  <section class="first-view">
    <!-- <img class="img__Home" src="https://64.media.tumblr.com/7f131f05b66611febd689ae452f4aa78/601516830f6f0534-5f/s400x600/dfb226632efe30317c5e6ef1f939727249831192.webp" alt="Imagen de ropa home"> -->
    <!-- <div class="img__Home" ></div> -->
    <article class="eslogan">
      Las mejores prendas al <span>mejor precio</span> ✨
    </article>
    <article class="info-contact__container" >
      <ul class="info-contact">
        <li >
          <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-whatsapp"></i> </a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook"></i> </a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i> </a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-tiktok"></i> </a>
        </li>
      </ul>
    </article>
  </section>

  <section>
    
  </section>

</div>
