<!-- <article>
  <div class="half-circle"></div>
  <h4>Sobre Nosotros</h4>
  <p>
    Bienvenidos a <strong>[Nombre de la Tienda]</strong>, una tienda de ropa de segunda mano dedicada a ofrecer moda
    sostenible y accesible.
    Nuestra misión es dar una segunda vida a la ropa, reduciendo el impacto ambiental y ayudando a nuestros clientes
    a encontrar estilos únicos a precios asequibles.
  </p>
</article> -->
<article>
  <div class="half-circle">
    <h4>{{title}}</h4>
  </div>
  <p [innerHTML]="description"></p>
</article>
