:host {
  display: block;
}

.color-block {
  width: 100px;
  height: 100px;
  /* margin: 5px; */
  display: inline-block;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: 1px solid #fff;
  border-radius: 5px;
}

.boxes-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.red { background-color: red; }
.orange { background-color: orange; color: black; }
.yellow { background-color: yellow; color: black; }
.green { background-color: green; }
.blue { background-color: blue; }
.indigo { background-color: indigo; }
.violet { background-color: violet; }
.pink { background-color: pink; color: black; }
.cyan { background-color: cyan; color: black; }
.multicolor {
  /* background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet); */
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 6%, rgba(255,161,0,1) 23%, rgba(255,252,0,1) 49%, rgba(101,252,70,1) 67%, rgba(70,252,131,1) 82%, rgba(70,116,252,1) 93%, rgba(158,0,255,1) 98%);
  color: black;
}
.white { background-color: white; color: black; border: 1px solid #000; }
.grey { background-color: grey; color: black; }
.black { background-color: black; color: white; }


.color-block:active {
  filter: brightness(0.8); /* Slightly darkens the color */
  transform: scale(0.95);  /* Adds a pressing effect */
}
