<div class="boxes-container" >
  <button class="color-block red"        (click)="selectColor('red')">Rojo</button>
  <button class="color-block orange"     (click)="selectColor('orange')">Naranja</button>
  <button class="color-block yellow"     (click)="selectColor('yellow')">Amarillo</button>
  <button class="color-block green"      (click)="selectColor('green')">Verde</button>
  <button class="color-block blue"       (click)="selectColor('blue')">Azul</button>
  <button class="color-block indigo"     (click)="selectColor('indigo')">Índigo</button>
  <button class="color-block violet"     (click)="selectColor('violet')">Violeta</button>
  <button class="color-block cyan"       (click)="selectColor('cyan')">Cian</button>
  <button class="color-block multicolor" (click)="selectColor('multicolor')">Multicolor</button>
  <button class="color-block white"      (click)="selectColor('white')">Blanco</button>
  <button class="color-block grey"       (click)="selectColor('grey')">Gris</button>
  <button class="color-block black"      (click)="selectColor('black')">Negro</button>
</div>
