<div class="boxes-container" >
  <button class="color-block red"        (click)="selectColor('Rojo')">Rojo</button>
  <button class="color-block orange"     (click)="selectColor('Naranja')">Naranja</button>
  <button class="color-block yellow"     (click)="selectColor('Amarillo')">Amarillo</button>
  <button class="color-block green"      (click)="selectColor('Verde')">Verde</button>
  <button class="color-block blue"       (click)="selectColor('Azul')">Azul</button>
  <button class="color-block indigo"     (click)="selectColor('Índigo')">Índigo</button>
  <button class="color-block violet"     (click)="selectColor('Violeta')">Violeta</button>
  <button class="color-block cyan"       (click)="selectColor('Cian')">Cian</button>
  <button class="color-block multicolor" (click)="selectColor('Multicolor')">Multicolor</button>
  <button class="color-block white"      (click)="selectColor('Blanco')">Blanco</button>
  <button class="color-block grey"       (click)="selectColor('Gris')">Gris</button>
  <button class="color-block black"      (click)="selectColor('Negro')">Negro</button>
</div>
