<section>
  <div class="img_container">
    <img src="https://cdn.koaj.co/111020-big_default/pantalon-jean-mom.jpg" alt="Prenda de ropa">
  </div>
  <div class="text__container">
    <article>
      <h4>Pantalon Koaj</h4>
      <p><span>Talla:</span> 35</p>
      <p><span>Color:</span> Negro</p>
      <p><span>Marca:</span> Koaj</p>
      <p><span>Descripcion:</span> Sin bolsillo izquierdo</p>
    </article>
    <div class="btns">
      <button mat-button>Comprar</button>
      <button mat-button>Me gusta</button>
    </div>
  </div>
</section>
