<section>
  <div class="img_container">
    <img [src]="clothe.img_url" alt="Prenda de ropa">
  </div>
  <div class="text__container">
    <article>
      <h4>{{ clothe.title }}</h4>
      <p><span>Talla:</span> {{clothe.size}} </p>
      <p><span>Marca:</span> {{clothe.brand}}</p>
      <p><span>Precio:</span> {{clothe.price | currency:'USD':'symbol':'1.0-0'}}</p>
    </article>
    <div class="btns">
      <app-btn-whatsapp [clotheId]="clothe.id" ></app-btn-whatsapp>
      <a
        [routerLink]="['/products', 'product-detail', clothe.id]"
        class="detail_btn">
        <button mat-button  >
          Ver en detalle
        </button>
      </a>
    </div>
  </div>
</section>

