:root {
  --logo-green: #D3E72D;
  --logo-green-dark: #1d7415;
  --logo-green-shiny: #adfda9;
  --background-green: #84F280;
  --pink-logo: #F282C0 ;
  --background-green-opacity: #84f28090;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

