<section>
  <ul>
    <li [routerLinkActive]="['active']">
      <mat-icon aria-hidden="false" aria-label="Pagina de inicio" fontIcon="home" [routerLink]="['/home']"></mat-icon>
    </li>
    <li [routerLinkActive]="['active']">
      <mat-icon aria-hidden="false" aria-label="Lista de productos" fontIcon="checkroom" [routerLink]="['/products']"></mat-icon>
    </li>
    <li [routerLinkActive]="['active']">
      <mat-icon aria-hidden="false" aria-label="Pagina de perfil" fontIcon="person" [routerLink]="['/auth']"></mat-icon>
    </li>
  </ul>
</section>
